.box {
    margin: 24px;
}

.semi-banner {
    background-size: cover;
    background-position: center;
    margin-bottom: 16px;
    padding: 24px;
    height: 300px;
    width: 100%;
}

.banner-info {
    color: white;
    padding-left: 12px;
}

.card_link {
    color: #484848;
}

.card_link:hover {
    text-decoration: none;
    color: #484848;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 8px;
}

.card-bike {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  
  .card-bike > img {
    height: 160px;
    width: 100%;
    object-fit: cover;
  }
  
  .card-bike h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-bike p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  
  
  .card-bike .card-bike-infos {
    padding: 8px;
    display: flex;
    align-items: flex-end;
  }
  
  .card-bike-infos {
    text-align: left;
    top: 0px;
  }
  