.card-product {
  overflow: hidden;
  height: 260px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  opacity: 1;
  -webkit-transition: opacity 400ms linear;
  transition: opacity 400ms linear;
}

.card-product img {
  width: 400px;
  height: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  &.price-per-night {
    font-size: 16px;
  }
}

.card-product .card-product-infos {
  padding: 32px;
  height: 100%;

}

.card-product-infos {
  // width: 100%;
}

.card-buttons a {
  margin-bottom: 16px;
}

.alert.alert-deleted {
  position: fixed;
  bottom: auto;
  top: 20px;
  left: 2%;
  right: 2%;
  opacity: 1;
  -webkit-transition: opacity 800ms linear;
  transition: opacity 800ms linear;
}
