// Import page-specific CSS files here.

@import "bikes";
@import "landing";
@import "index_owner";
@import "show_page";
@import "bookings";
@import "profile";

.main-container {
  width: 90%;
  margin: auto;
}

#map-button {
  position: fixed;
  bottom: 20px;
  right: 45%;
  left: 45%;
  z-index: 1000;
}

.btn-maps {
  background-color: white;
  border-radius: 5px;
  padding: 16px;
  color: black;
  font-weight: bold;
  background-color: #FFB7B7;
}

.banner--mobile {
  flex-direction: column;
  @media screen and (min-width: 900px) {
    flex-direction: row;
  }
}

.btn--mobile {
  @media screen and (max-width: 900px) {
    height: 2rem;
    font-size: 1rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    margin-bottom: 0.5rem;
  }
}

.form-group.search-form-group:last-child {
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.container--mobile {
  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    .card_link--mobile {
      margin-bottom: 0.5rem;
    }
  }
}
