.card-category {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover .edit_btn {
    opacity: 0.5;
  }
  &:hover .edit_btn:hover {
    opacity: 1;
  }
  &:hover .back-arrow {
    opacity: 0.5;
  }
  &:hover .back-arrow:hover {
    opacity: 1;
    color: $light-gray;
    text-decoration: none;
  }
}

.back-arrow {
  position: absolute;
  color: $light-gray;
  top: 1rem;
  left: 1rem;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.bike__title {
  position: relative;
}

.specs__title {
  font-size: 1rem;
  color: #CB6B16;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.5rem;
}

.specs__title.book-me {
  padding-left: 0;
  margin-top: 0.5rem;
  @media screen and (min-width: 900px) {
   margin-top: 0;
  }
}

.specs__title.map__title {
  margin-top: 1rem;
}

.edit_btn {
  color: $light-gray;
  font-size: 2rem;
  position: absolute;
  right: -25%;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
  &:hover {
    color: $light-gray;
  }
}

.bike__info--container {
  margin-top: 1rem;
  @media screen and (min-width: 900px) {
    display: flex;
    justify-content: space-between;
  }
}

.specs__wrapper {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 900px) {
    width: 45vw;
  }
}

.specssheet {
  background-image: url('https://static.brusheezy.com/system/resources/previews/000/018/482/non_2x/notebook-paper-texture-photoshop-textures.jpg');
  background-size: cover;
  background-position: center;
  height: 13rem;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
  position:relative;
  @media screen and (min-width: 900px) {
    margin-right: 2rem;
    width: 85%;
    height: 100%;
  }
}

.specs {
  list-style: none;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 2.2rem;
}

.spec__info {
  padding-top: 0.5rem;
}

.fa.fa-star {
  color: #CB6B16;
}

.skidmarks {
  opacity: 0;
  @media screen and (min-width: 900px) {
    opacity: 0.5;
    position: absolute;
    right: -5rem;
    top: 1rem;
    width: 10rem;
    transform: rotate(-20deg);
  }
}

.skidmarks2 {
  display: none;
  @media screen and (min-width: 900px) {
    display: inline;
    opacity: 0.5;
    position: absolute;
    right: -3rem;
    bottom: 1rem;
    width: 10rem;
    transform: rotate(0deg);
  }
}

.contact {
  color: #CB6B16;
  margin-top: 0.5rem;
  @media screen and (min-width: 900px) {
  margin-top: 2rem;
  }
}

.contact__title {
  margin-bottom: 0.5rem;
  display: inline-block;

  @media screen and (min-width: 900px) {
    display: inline;
    margin-bottom: 0;
  }
}

.owner__link {
  color: #CB6B16;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.5s ease-in;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: #CB6B16;
  };
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 4px;
  }
}

.mailto {
  display: inline-block;
  text-align: center;
  width: 12rem;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #CB6B16;
  color: $light-gray;
  opacity: 0.7;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: opacity 0.5s ease-in, box-shadow 0.5s ease-in-out;
  margin-top: 0.5rem;
  @media screen and (min-width: 900px) {
  display: inline;
  margin-left: 1rem;
  margin-top: 2rem;
    &:hover {
      box-shadow: 10px 10px 10px -5px rgba(200,200,200,1);
      color: $light-gray;
      text-decoration: none;
      opacity: 1;
    }
  }
}

.booking-form {

  @media screen and (min-width: 900px) {
  width: 45vw;
  }
}

.swal-footer {
  text-align: center;
}

.mapboxgl-canvas {
  border-radius: 5px;
}


.card-bike-infos img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.spec__info img {
  width: 55px;
  height: 45px;
  border-radius: 50%;
}

.spec__info a {
  color:black;
  text-decoration:none;
}
