<% if notice %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= alert %>
  </div>
<% end %>

<% if flash[:just_created] %>
  <div id="created-alert" style="display: none"><%= flash[:just_created] %></div>
<% end %>

<% if flash[:just_updated] %>
  <div id="created-alert" style="display: none"><%= flash[:just_updated] %></div>
<% end %>
