<%= cl_image_tag bike.photo, class: "map-image-tag" %>
<div class="map-img-container">
  <h4><%= bike.name %></h4>
  <p class="price"><%= format('%.2f', bike.price) %>$</p>
  <p class="description"><%= bike.description %></p>
</div>


