<h1>Browse on Map</h1>

<div
  id="map"
  style="width: 100%;
  height: 75vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<%= link_to "CARDS", bikes_path, id: 'map-button', class: 'btn btn-lg btn-maps' %>
