<h1>Bikes#:index</h1>
<p>Find me in app/views/bikes/:index.html.erb</p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Rent a bike whenever, wherever!</h1>
    <p>Browse through numerous types of bikes specific to your needs!</p>
    <a class="btn btn-flat" href="#">Learn More</a>
  </div>
</div>

<div class="cards">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
  <div class="card-bike-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
  </div>
</div>



