.btn-danger {
  background-color: rgb(220, 53, 69);
  border-color: rgb(220, 53, 69);
  &:hover {
    background-color: #C82333;
    border-color: #C82333;
  }
}

.btn-warning {
  background-color: rgb(245, 192, 24);
  border-color: rgb(245, 192, 24);
  color: black;
  &:hover {
    background-color: #E0A714;
    border-color: #E0A714;
    color: black;
  }
}

.btn-light-blue {
  padding: 16px;
  border-radius: 5px;
  background-color: #49A2B8;
  border-color: #49A2B8;
  color: white;
  font-size: 1.4rem;
  &:hover, :active {
    background-color: #3B8496;
    border-color: #3B8496;
    color: white;
  }

}
