abbr[title], abbr[data-original-title] {
  text-decoration: none;
}

.fas.fa-sad-tear {
  color: #CB6B16;
}

.tip {
  font-style: italic;
  font-weight: lighter;
}

.form-control.mx-1.date.required.custom__input {
  margin-left: 0 !important;
}
