.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  // text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 0 !important;
  border-radius: 8px !important;
}

.map-image-tag {
  margin-bottom: 8px;
  width: 100%;
}

.map-img-container {
  padding: 10px;
  line-height: 1.5;
  .price {
    font-size: 18px;
    text-align: left;
    margin-bottom: 0;
    font-weight: bold;
  }
  .description {
    font-size: 14px;
  }
}
