.search-form-group {
  width: 500px;
  .form-control {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
  }
}

.first__field--mobile {
  @media screen and (max-width: 900px) {
    width: 50%;
  }
}

.last__field--mobile {
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.btn__wrapper--mobile {
  @media screen and (max-width: 900px) {
    position: relative;
  }
}

.btn__submit--mobile {
  @media screen and (max-width: 900px) {
    position: absolute;
    right: 20%;
    top: -3.3rem;
  }
}
