<%= simple_form_for [bike, review], remote: true do |form| %>
  <%= form.input :content %>
  <%#= form.input :rating, collection: ['1 star', '2 stars', '3 stars', '4 stars', '5 stars'] %>

  <div class="form-group select required review_rating">
    <label class="form-control-label select required" for="review_rating">Rating <abbr title="required">*</abbr></label>
    <select class="form-control select required" name="review[rating]" id="review_rating">
      <option value=""></option>
      <option value="1">1 star</option>
      <option value="2">2 stars</option>
      <option value="3">3 stars</option>
      <option value="4">4 stars</option>
      <option value="5">5 stars</option>
    </select>
  </div>


    <!-- <div class="custom-control custom-radio">
      <input type="radio" name="rating" value="1" id="1">
      <label for="male">
        <% 1.times do %>
          <i class="fas fa-star star-green"></i>
        <% end %>
        <% 4.times do %>
          <i class="far fa-star star-green"></i>
        <% end %>
      </label>
    </div>

    <div class="custom-control custom-radio">
     <input type="radio" name="rating" value="2" id="2">
      <label for="male">
        <% 2.times do %>
          <i class="fas fa-star star-green"></i>
        <% end %>
        <% 3.times do %>
          <i class="far fa-star star-green"></i>
        <% end %>
      </label>
    </div>

    <div class="custom-control custom-radio">
      <input type="radio" name="rating" value="3" id="3">
      <label for="male">
        <% 3.times do %>
          <i class="fas fa-star star-green"></i>
        <% end %>
        <% 2.times do %>
          <i class="far fa-star star-green"></i>
        <% end %>
      </label>
    </div>


    <div class="custom-control custom-radio">
      <input type="radio" name="rating" value="4" id="4">
      <label for="male">
        <% 4.times do %>
          <i class="fas fa-star star-green"></i>
        <% end %>
        <% 1.times do %>
          <i class="far fa-star star-green"></i>
        <% end %>
      </label>
    </div>

    <div class="custom-control custom-radio">
      <input type="radio" name="rating" value="5" id="5">
      <label for="male">
        <% 5.times do %>
          <i class="fas fa-star star-green"></i>
        <% end %>
        <% 0.times do %>
          <i class="far fa-star star-green"></i>
        <% end %>
      </label>
    </div> -->

  <%= form.submit "Add Review", class: "btn btn-primary" %>
<% end %>

