<li class="review-card" style="opacity: 0">
  <div class="review-header d-flex align-items-center">
    <%= avatar_for(review.user) %>
    <div class="review-owner-info">
      <p><strong><%= review.user.first_name %></strong></p>
      <% months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %>
      <p class="date"><%= review.date.strftime("#{months[review.date.month - 1]} %d %Y") %></p>
    </div>
  </div>
  <div class="review-rating">
    <% review.rating.times do %>
      <i class="fas fa-star star-green"></i>
    <% end %>
    <% (5 - review.rating).times do %>
      <i class="far fa-star star-green"></i>
    <% end %>
  </div>
  <div class="review-content">
    <%= review.content %>
  </div>
</li>
